<div class="container">
    <div class="card float-left" style="background-color: #f0f8ff;">
        <div class="row ">

            <div class="col-sm-7">
                <div class="card-block">
                    <!--           <h4 class="card-title">Small card</h4> -->
                    <p class="black-text">Say hello to us</p>
                    <p>love to hear you</p>
                </div>
            </div>
            <div class="col-sm-5">
                <img class="d-block image" src="../../assets/header/positive-european-woman-has-break-after-work.jpg"
                    alt="">
            </div>
        </div>
    </div>
</div>
<br>
<br>



<div class="container">
    <div class=" text-center mt-5 ">
   </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2  p-4  form-card">
                <div class="card-body ">

                    <div class="container">
                        <h1>Let's <span style="color:#ff4400 ;">begin</span> </h1>
                        <form id="contact-form" role="form" >
                            <div class="controls">

                                <!-- Name Field -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" class="form-control"
                                                placeholder="Full name *" required="required"
                                                data-error="Name is required." 
                                                >
                                        </div>
                                    </div>
                                </div>

                                <!-- Email Field -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email" class="form-control"
                                                placeholder="Email address *" required="required"
                                                data-error="Valid email is required." >
                                        </div>
                                    </div>
                                </div>

                                <!-- Subject Field -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_subject" type="text" name="subject" class="form-control"
                                                placeholder="Subject *" required="required"
                                                data-error="Subject is required." 
                                                >
                                        </div>
                                    </div>
                                </div>

                                <!-- Message Field -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" class="form-control"
                                                placeholder="Message *" rows="4" required="required"
                                                data-error="Please leave a message." 
                                                ></textarea>
                                        </div>
                                    </div>
                                </div>

                             
                                <!-- Submit Button -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-dark btn-send pt-2 btn-block" value="Send">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>