
  
  <div class="bg-image">
    <img src="../../assets/slideshow/team-meeting-renewable-energy-project.jpeg" 
    style="height: 900px ; width :100% "
    alt=" no photo">
   
  </div>

 <div class="bg-text background-color">
    <h1>New Design</h1>
    <p>Please share this Little Fashion template to your friends. </p>
    <p>Thank you for supporting us.</p>
    <br><br>
    <button type="type" class="btn btn-dark" routerLink="/products">EXPLORE PRODUCTS</button>

 </div>

 <div class="container">
  <div class="card float-left" style="background-color: #f0f8ff;">
      <div class="row ">

          <div class="col-sm-7">
              <div class="card-block">
                  <!--           <h4 class="card-title">Small card</h4> -->
                  <p class="black-text">Retail shop owners</p>
                  <p class="desc">Credits go to Unsplash and FreePik websites for images used in this Little Fashion by Tooplate.</p>
              </div>
          </div>

          <div class="col-sm-5">
              <img class="d-block image" src="../../assets/retail-shop-owner-mask-social-distancing-shopping.jpg"
                  alt="">
          </div>
      </div>
  </div>

</div>
 

<app-home-products></app-home-products>